<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simlect.mappers.SearchHotKeywordMapper">

	<resultMap id="base_result_map" type="com.simlect.entity.po.SearchHotKeyword">
		<id column="keyword" property="keyword"  />
		<result column="sort" property="sort"  />
		<result column="status" property="status"  />
		<result column="update_time" property="updateTime"  />
	</resultMap>

	<sql id="base_column_list">
		 u.keyword,u.sort,u.status,u.update_time
	</sql>

	<sql id="base_condition_filed">
<if test="query.keyword != null and query.keyword!=''">
				 and  u.keyword = #{query.keyword}
			</if>
<if test="query.sort != null">
				 and  u.sort = #{query.sort}
			</if>
<if test="query.status != null">
				 and  u.status = #{query.status}
			</if>
<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  u.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d %H:%i:%s') ]]>
			</if>
	</sql>

	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
<if test="query.keywordFuzzy!= null  and query.keywordFuzzy!=''">
				 and  u.keyword like concat('%', #{query.keywordFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM search_hot_keyword u <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM search_hot_keyword u <include refid="query_condition" />
	</select>

	<insert id="insert" parameterType="com.simlect.entity.po.SearchHotKeyword">
		 INSERT INTO search_hot_keyword
		 <trim prefix="(" suffix=")" suffixOverrides="," >
<if test="bean.keyword != null">
				 keyword,
			</if>
<if test="bean.sort != null">
				 sort,
			</if>
<if test="bean.status != null">
				 status,
			</if>
<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
<if test="bean.keyword!=null">
				 #{bean.keyword},
			</if>
<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
<if test="bean.status!=null">
				 #{bean.status},
			</if>
<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<insert id="insertOrUpdate" parameterType="com.simlect.entity.po.SearchHotKeyword">
		 INSERT INTO search_hot_keyword
		 <trim prefix="(" suffix=")" suffixOverrides=",">
<if test="bean.keyword != null">
				 keyword,
			</if>
<if test="bean.sort != null">
				 sort,
			</if>
<if test="bean.status != null">
				 status,
			</if>
<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
<if test="bean.keyword!=null">
				 #{bean.keyword},
			</if>
<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
<if test="bean.status!=null">
				 #{bean.status},
			</if>
<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.sort!=null">
				 sort = VALUES(sort),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<update id="updateByParam" parameterType="com.simlect.entity.query.SearchHotKeywordQuery">
		 UPDATE search_hot_keyword u
		 <set>
			<if test="bean.keyword != null">
				 keyword = #{bean.keyword},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
		 </set>
		 <include refid="query_condition" />
	</update>

	<delete id="deleteByParam">
		 delete u from search_hot_keyword u
		 <include refid="query_condition" />
	</delete>

	<select id="selectByKeyword" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from search_hot_keyword u where keyword=#{keyword}
	</select>
	<delete id="deleteByKeyword">
		delete from search_hot_keyword where keyword=#{keyword}
	</delete>

</mapper>
