<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simlect.mappers.AdminAuditLogMapper">

    <insert id="insert" parameterType="com.simlect.entity.po.AdminAuditLog">
        INSERT INTO admin_audit_log (operator, action, target_user_id, detail, create_time)
        VALUES (#{bean.operator}, #{bean.action}, #{bean.targetUserId}, #{bean.detail}, #{bean.createTime})
    </insert>

</mapper>
